{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "import/prefer-default-export": 0,
    "no-use-before-define": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  }
}
